[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==7.4.3"
port-for = "==0.7.2"
mirakuru = "==2.5.2"
packaging = "==23.2"
pymysql = "==1.1.0"

[dev-packages]
towncrier = "==23.11.0"
black = "==23.12.0"
pytest-cov = "==4.1.0"
pytest-xdist = "==3.5.0"
mock = "==5.1.0"
coverage = "==7.5.1"
tbump = "==6.11.0"
mypy = "==1.10.0"
ruff = "==0.4.3"
types-pymysql = "==1.1.0.20240425"
