# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
coverage==4.5.3 # pytest-cov
pytest==4.6.2
mirakuru==1.1.0
mysqlclient==1.4.2 # rq.filter: !=1.4.2.post1
port-for==0.4
